@model ProjectOPP.Models.Persona

@{
    ViewBag.Title = "Logup";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="login-box-msg">Ingrese sus credenciales</p>
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombres" name="nombre">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Apellidos" name="apellido">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" name="fecnacimiento">
        </div>

        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Correo" name="correo">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Clave" name="clave">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Repetir clave" name="clavedos">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Registrarse" class="btn  btn-success btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Iniciar sesion", "Login")
</div>

<div>
    @Html.ActionLink("Ir al inicio", "Index", "Home")
</div>

@section scripts
{
    <script>
        //$(document).ready(function () {
        //    $("#signupform").submit(function (e) {
        //        e.preventDefault();

        //        url = "www.google.com"
        //        parametros = $(this).serialize();

        //        alert("1")

        //        $.post(url, parametros, function (data){

        //            if (data == "1") {
        //                document.location.href = "www.youtube.com";
        //            } else {
        //                alert(data)
        //            }
        //        })
        //    })
        //})
    </script>   
}